
head
  meta(charset='UTF-8')
  title Speke Resort Munyonyo
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='favicon.ico')
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet')
  link(rel='stylesheet' href='assets/css/style.css')
  link(rel='stylesheet' href=' https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css ')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
  // Plugins
section.pt-5.pb-5
  .container
    .row.align-items-center.justify-content-between
      .col-12.col-md-4
        h1.mb-3.mt-5 Speke Resort Munyonyo
        p.lead
          | lorem sdf In publishing and graphic design,
          | Lorem ipsum is a placeholder text commonly used to demonstrate
          | the visual form of a document or a typeface without relying on
          | meaningful content. Lorem ipsum may be
          | used as a placeholder before final copy is available.
        h3
          small price:
          | $100
      .col-12.col-md-7.mt-4.mt-md-0
        .ratio.ratio-16x9
          img(src='images/mainImage/speke.jpg' alt='speke Resort' srcset='')
section.container
  .row
    .col-md-6
      | hhh  
      #map(style='width:100%; height:350px;')
    br
    .col-md-6
      h1 Contact Us
      h5 phone:0758671111
      h5 email:far@gmail.com1
      h5 website:www.gdhss.com          
section.pt-5.pb-5
           
section.pb-5.mt-0.align-items-center.d-flex.bg-dark(style=' background-size: cover; background-image: url("https://images.unsplash.com/photo-1444065707204-12decac917e8?ixlib=rb-0.3.5&s=babe0ff0bb017c8c9817d8382b8de440&auto=format&fit=crop&w=1953&q=80");')
  .container
    .row.text-center.justify-content-center
      .d-flex.justify-content-center
        .content.text-center
          .ratings
            span.product-rating 4.6
            span /5
            .stars
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            .rating-text
              span 46 ratings 


script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js' integrity='sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy' crossorigin='anonymous')
script(src='assets/js/landing.js')
