extends baseEmail

block content
  p Hi #{firstName},
  p  A request for  PASSWORD reset was made, use the token below to gain access to your account
  p #{url}

                
  p If it wasnt you, please ignore this email!