doctype html
head
  title Pug
div(style='\
justify-content: center;\
align-items: center;\
width: 500px;\
display: flex;\
flex-direction: column;\
align-self: center;\
')
  h2(style='color: green; font-size: 9') Account activation Successfull
  h3 Login to Continue !
