doctype html
head
  title Pug
div(style='justify-content:center;width:200;align-self:center')
  h1(style='color:green;font-size:18') Account activation Successfull
  p(style='font-size:16') Login to Continue